html {
	font-size: 15px;
}

body {
	font-family:'Roboto', 'Helvetica Neue', sans-serif;
	color: black;
	background-color:#ffffff;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}




.bigtext a {
	color: #2196F3;
}

#slide4 a {
	color: #2196F3;
}





/************************ NAVIGATION BAR ***************************/
#navbar-title a {
	font-weight: 400;
}

.navigation li:hover{
	text-decoration: underline;
}

#logo p {
	text-align: left;
	padding-left: 50px;
	font-size: 1.2rem;
	font-weight: 300;
	margin: 17px 0;
}

#nav-container {
	max-width: 100%;
	width: 100%;
}

.menu {
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	position: fixed;
	top: 0px;
	width: 100%; 
	height: auto; 
	z-index: 100;
	background: rgba(255,255,255,0.89);
	border-bottom: 1px solid #f4f4f4;
}

/*.menu.change {
    background: #2196F3;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
}*/

.navlink {
	color: black;
	transition: color 0.3s;
}

/*.navlink.change {
	color: white;
}*/


#links {
	text-align: right;
	margin: 19px 0;
}

.navigation{
	float: right;
	list-style: none;
	margin: 0;
}

.navigation li{
	font-size: 0.9rem;
	float: left;
	padding-right: 50px;
}

.resumelink {
	font-size: 0.9rem;
	float: left;
	padding-right: 50px;
}



/*****************************INTRODUCTION SLIDE*****************************/

.introduction {
	margin: 0 auto;
	font-size: 2rem;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

/*#slide1 {
	margin-top: 9.6%;
	margin-bottom: 11.2%;
}*/

#slide1 {
	margin-top: 5%;
	margin-bottom: 7%;
}

a {
	color: #2196F3;
}

.hiimkevin  {

	margin-top: 40px;
}

/********************************PROJECTS SLIDE***************************/


.projectstitle {
	margin-top: 4px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.12);

}

.project {
	margin-bottom: 40px;
}

.category {
	color: rgba(0,0,0,0.33);
	padding-bottom: 15px;
	font-size: 0.8rem;
}

.viewlink {
	font-size: 0.9rem;
	padding-top: 15px;
	font-size: 0.8rem;
}

/* Box Shadow */
.projectimage {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 2px 2px 2px 1px #ccc;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;

  margin-bottom: 17px;
}

.lastrow {
	margin-bottom: 0;
}

.projectimage:hover, .projectimage:focus, .projectimage:active {
  box-shadow: 0px 8px 17px 0 rgba(0, 0, 0, 0.25);
}

.projectimagesmall {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 2px 2px 2px 1px #ccc;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;

  margin-bottom: 10px;
  margin-top: 10px;
}

.projectimagesmall:hover, .projectimagesmall:focus, .projectimagesmall:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
}




/********************************ABOUT/CONTACT SLIDE****************************/
.hiimkevin {
	margin-top: 150px;
}

.contactinfo {
	margin-top: 100px;
}

/********************************FOOTER SLIDE****************************/

footer {
	margin-bottom: 3px;
	text-align: center;

}

.footer {
	font-size: 0.8rem;
	color: rgba(0,0,0,0.32);
}

/*******************************TEXT*****************************************/


/*title for frontpage title*/
h1 {
 color: #2196F3;
 font-size: 3.5rem;
 font-weight: 400;
 margin-bottom: 30px;
}


/*Title for project names on project pages*/
h2 {
 color: #2196F3;
 font-size: 2.5rem;
 font-weight: 400;
 margin-top: 70px;
 margin-bottom: 30px;
 text-align: center;
}

/*Project page sub-headers*/
h3 {
	color: #2196F3;
	font-size: 1.2rem;
 	font-weight: 400;
 	margin-bottom: 25px;
}


.projecttitle{
 	margin-bottom: 15px;
}

.projectdescription{
	margin-bottom: 70px;
}

.project h3 {
	color: black;
}


/**title for projects**/
h4 {
	 font-size: 1.2rem;
	 font-weight: 400;
	 margin: 0;
	 color: #2196F3;

}

h4 a {
	color: #2196F3;
}

.bigtext {
	 font-size: 1.2rem;
 	font-weight: 400;
 	line-height: 2.2rem;
 	color: #212121;
}


p {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 400;
}

.list li {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 400;
}




/******************************* General Slides ***********************************/ 


#bannerimg {
	max-width: 100%;
	width: 100%;
}

.bumpdown {
	margin-bottom: 20px;
}

.margintop {
	margin-top:110px;
}

.paragraph {
	margin-bottom: 15px;
}

.slide{
	background-attachment: fixed;
	width: 100%;
	height: auto;
	position: relative;
	padding: 80px 0;
}

#slide1{
	background-color: #ffffff;
}


#slide2{
	background-color: #f6f6f6;
}


#slide3{
	background-color: #ffffff;
}



@media screen and (max-width: 1920px) {
	#slide1 {
		margin-top: 5%;
		margin-bottom: 7%;
	}
}



@media screen and (max-width: 1366px) {
	.hiimkevin {
		margin-top: 115px;
	}

	.contactinfo {
	margin-top: 110px;
	}

	#slide1 {
		margin-top: 5%;
		margin-bottom: 6%;
	}
}

@media screen and (max-width: 1280px) {
	.hiimkevin {
		margin-top: 150px;
	}

	.contactinfo {
	margin-top: 105px;
	}

	#slide1 {
		margin-top: 3%;
		margin-bottom: 1%;
	}

	p {
		font-size: 0.90rem;
		line-height: 1.4rem;
	}

	.list li {
	font-size: 0.9rem;
	line-height: 1.4rem;
}
}

@media screen and (max-width: 1024px) {


	.slide{
		padding: 65px 0;
	}

	#decorative {
		display:none;
	}

	#slide1 {
		margin-top: 1%;
		margin-bottom: 3%;
	}

	.hiimkevin {
		margin-top: 140px;
	}

	.contactinfo {
	margin-top: 100px;
	}

}

@media screen and (max-width: 650px) {
	#links {
		display: none;
	}

	#slide1 {
		text-align: center;
	}

	#slide3 {
		text-align: center;
	}

	.robot {
		width: 250px;
		margin: auto;
	}

	.funky {
		width: 230px;
		margin: auto;
	}

	.hiimkevin {
		margin-top: 0px;
	}

	.contactinfo {
	margin-bottom: 25px;
	margin-top:0px;
	}
}

/* Mobile */
@media screen and (max-width: 480px) {

	.navigation li{
		float: left;
		width:25%;
		display: none;
	}

	#nav {
		display: none;
	}



}










